In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_lmerged=pd.read_csv("base_datos/london_merged.csv")
df_lmerged

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [12]:
df_lmerged.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [11]:
df_lmerged["timestamp"]=pd.to_datetime(df_lmerged["timestamp"])

In [16]:
df_lmerged["hour"]=df_lmerged["timestamp"].dt.hour

In [18]:
df=df_lmerged.copy()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

In [20]:
df=df_lmerged.iloc[:,1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

In [27]:
def fun1(x):
    if x%2==0:
        return(x/2)
    else:
         return(3*x+1)

In [52]:
df["hour"].apply(fun1)

0         0.0
1         4.0
2         1.0
3        10.0
4         2.0
         ...
17409    58.0
17410    10.0
17411    64.0
17412    11.0
17413    70.0
Name: hour, Length: 17414, dtype: float64

In [53]:
def func2(x, a=1,b=0):
    return(x**2+a*x+b)

In [56]:
df["hour"].apply(func2,args=())

0          0
1          2
2          6
3         12
4         20
        ...
17409    380
17410    420
17411    462
17412    506
17413    552
Name: hour, Length: 17414, dtype: int64

In [58]:
df["t1"].apply(lambda x : x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [60]:
- df.apply(lambda x : x.mean() ,axis=0)

cnt            -1143.101642
t1               -12.468091
t2               -11.520836
hum              -72.324954
wind_speed       -15.913063
weather_code      -2.722752
is_holiday        -0.022051
is_weekend        -0.285403
season            -1.492075
hour             -11.513265
dtype: float64